doctype html
html
    head
        meta(content='charset=utf-8')
        link(rel='icon', href='/dev/images/common/bolo-logo-mini.png')
        title #{title ? title : '网易菠萝'}
        block head
    body
        block content